 
 
.driveDetails{
    padding: 10px;
    margin-top: 30px;
    width: 95%; 
    text-transform:capitalize;
    font-size: 16px;;
    font-weight: 400;
    border-radius: 9px; 
    box-shadow:2px 2px 2px 2px #278ba3;
  }

  .row{ 
    display: -ms-flexbox; 
    overflow:hidden;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 3vw;
    margin-left: 3vw;
}
 p{
     text-align: left; 
     font-weight: 500;
     margin-bottom:7px; 
 }
b,h5{
   margin-right:10px;
    color: #17a2b8; 
    text-transform:capitalize; 
  }
  button{
  margin-left:3vw;
  }

  .profile-card-5{
    margin-top: 25px;
    border-radius: 9px; 
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19); 
  } 
  .card-title{
    color: #17a2b8;
    text-align:center;
    text-transform:capitalize; 
  } 
  .card-img-top {
    width: 100%;
    padding: 5px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
a{
    text-decoration:none;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height:210px;
  border-radius: 50%;
}