<div class="container driveDetails">
  <button class="btn btn-info" *ngIf='!isMypostsCollapsed' (click)='MypostsCollapsed()'> My posts</button>
  <button class="btn btn-info" *ngIf='isMypostsCollapsed' (click)='MypostsCollapsed()'>My posts</button>
  <button class="btn btn-info" *ngIf='isWalletCollapsed' (click)='WalletCollapsed()'>Wallet</button>
  <button class="btn btn-info" *ngIf='!isWalletCollapsed' (click)='WalletCollapsed()'> Wallet</button>
  <button class="btn btn-info" (click)='logout()'>Logout</button>
  <hr>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4" *ngIf='profile_data.image'>
      <img src={{profile_data.image}} class="img-thumbnail" alt="Cinque Terre" width="210" height="210">
    </div>
    <div class="col-sm-4">
      <div>
        <br>
        <p><b>Name :</b>{{profile_data.name}}</p>
        <p><b>ContactNumber :</b>{{profile_data.contactNumber}}</p>
        <p><b>Email :</b>{{profile_data.email}}</p>
        <p><b>D.O.B :</b>{{profile_data.dateOfBirth |date}}</p>
      </div>
    </div>
  </div>

  <div class="container" *ngIf='!isMypostsCollapsed'>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor='let post of userposts'>
        <div class="card profile-card-5">
          <a [routerLink]="['/detailsofproduct']" [queryParams]="{id:post.id}">
            <div class="card-img-block">
              <img class="card-img-top" src={{post.images}} style="max-height:250px">
              <h6 class="card-title">{{post.brand}} - {{post.model}} </h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>