<div class="container row "> 
    <div class="col-sm-4">
      <a [routerLink]="['/particularcategory']" [queryParams]="{category:'car'}">
        <img class="img-fluid" src="../../../assets/Images/car1.png" alt="Chania"><br> Cars </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['/particularcategory']" [queryParams]="{category:'truck'}">
          <img class="img-fluid" src="../../../assets/Images/truck.png" alt="Chania"> <br>Trucks</a>
      </div>
    <div class="col-sm-4">
      <a [routerLink]="['/particularcategory']" [queryParams]="{category:'bike'}">
        <img class="img-fluid" src="../../../assets/Images/motorcycle.png" alt="Chania"> <br>Bikes </a>
    </div>
  </div>