<nav class="navbar navbar-expand-md navbar-dark fixed-top ">
    <a class="navbar-brand"  routerLink="/">Navbar</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav "  >
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Select Category
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="automobiles">AutoMobiles</a>
              <a class="dropdown-item" routerLink="electronics">Electronics</a>
            </div>
          </li>
          <li class="nav-item">
            <button class="nav-link postitem" (click)="postItem()">Post Item</button> 
          </li>  
          <li class="nav-item" *ngIf='loginstatus'>
            <a class="nav-link" routerLink="profile">Profile</a>
          </li>
      </ul>
    </div>  
  </nav><br><br>  


 