nav{ 
background-color:  #278ba3;
 }
 .navbar-brand
 {
  margin-left:5vw;
  margin-right:5vw; 
 }
  .nav-link,.dropdown-menu{
   margin-left:1vw;
   margin-right:1vw; 
 } 
 .dropdown-menu{
   margin-top: 10px;
   background-color:#94acc4;
  } 

li{
  text-transform: uppercase;
  font-size: 16px;
  font-weight:550; 
  color: white;
}

 .postitem{
   border:none;
   background-color:  #278ba3;
 }
 .postitem:hover{
  border:none;
 }