<div class="container ">
  <div class="row">
    <div class="col-md-6 offset-md-3 registration">
      <div class="card card-signin">
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label> Name </label>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">
                  <p> Name is required</p>
                </div>
                <div *ngIf="f.name.errors.minlength">
                  <p> Name must be at least 6 characters</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>User Name </label>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">
                  <p>User Name is required</p>
                </div>
                <div *ngIf="f.username.errors.minlength">
                  <p> user Name must be at least 6 characters</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                  <p> Email is required</p>
                </div>
                <div *ngIf="f.email.errors.email">
                  <p>Email must be a valid email address</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" [(ngModel)]="password " formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">
                  <p>Password is required</p>
                </div>
                <div *ngIf="f.password.errors.minlength">
                  <p>Password must be at least 6 characters</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>D.O.B</label>
              <input type="date" formControlName="dateofbirth" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }" />
              <div *ngIf="submitted && f.dateofbirth.errors" class="invalid-feedback">
                <div *ngIf="f.dateofbirth.errors.required">
                  <p> Date of Birth is required</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Gender </label><br>
              Male<input type="radio" formControlName="gender" class="form-control" value="male"
                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
              Female<input type="radio" formControlName="gender" class="form-control" value="female"
                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required">
                  <p>Gender is required</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Phone No </label>
              <input type="text" formControlName="PhoneNo" class="form-control" maxlength=10
                [ngClass]="{ 'is-invalid': submitted && f.PhoneNo.errors }" />
              <div *ngIf="submitted && f.PhoneNo.errors" class="invalid-feedback">
                <div *ngIf="f.PhoneNo.errors.required">
                  <p> PhoneNo is required</p>
                </div>
                <div *ngIf="f.PhoneNo.errors.minlength">
                  <p>PhoneNo must be at least 10 digits</p>
                </div>

              </div>
            </div>
            <div class="form-group">
              <label>Upload Image</label>
              <input type="file" formControlName="image" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.image.errors }" accept="image/*" />
              <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                <div *ngIf="f.image.errors.required">
                  <p> image is required</p>
                </div>
              </div>
            </div>
            <div class="form-group"> 
              <button  class="btn btn-primary text-uppercase">registration</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>