.registration{
    padding: 10px;
    margin-top:30px;
    width: 92%; 
    text-transform:capitalize;
    font-size: 17px;
    border-radius: 9px; 
    box-shadow:2px 2px 2px 2px #278ba3;
  }
  .form-label-group{
    margin-top:10px;
    margin-bottom:10px;  
    
  }
 .form-control{ 
     border-radius: 7px;
 }
 label{
    color: #17a2b8; 
    font-weight: 650;
 }
  input[type=radio] {
  border:none;
  font-size: 0px;
  box-sizing: border-box;
  padding: 0;
}
 