<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor='let item of Itemsdata'>
      <div class="card profile-card-5">
        <a [routerLink]="['/detailsofproduct']" [queryParams]="{id:item.id}">
          <div class="card-img-block">
            <img class="card-img-top" src={{item.images}}  style="height:150px" >
            <h6 class="card-title">{{item.brand}} - {{item.model}} </h6> 
          </div>
        </a> 
      </div> 
    </div>  
  </div>
</div>