 
  .profile-card-5{
    margin-top: 25px;
    border-radius: 9px; 
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19); 
  } 
  .card-title{
    color: #17a2b8;
    text-align:center;
    text-transform:capitalize; 
  } 
  .card-img-top {
    width: 100%;
    padding: 5px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
a{
    text-decoration:none;
}