 
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" (ngModelChange)="valuechange($event)"  class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required"><p> Email is required</p></div>
              <div *ngIf="f.email.errors.email"><p>Email must be a valid email address</p></div>
            </div>
            <p> {{email_status}}</p>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" [(ngModel)]="password " (ngModelChange)="valuechange($event)"formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />  
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required"><p>Password is required</p> </div>
              <div *ngIf="f.password.errors.minlength"><p>Password must be at least 6 characters</p></div>
            </div> 
                <p> {{password_status}}</p>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Sign in </button>
            <br/><a routerLink='/registration'>Click here</a> to create a new account
          </div>
        </form>
      </div>
    </div>
  </div>
  
    