<div class="container row "> 
    <div class="col-sm-4">
      <a [routerLink]="['/particularcategory']" [queryParams]="{category:'mobile'}">
        <img class="img-fluid" src="../../../assets/Images/mobile.png" alt="Chania"><br> Mobiles </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['/particularcategory']" [queryParams]="{category:'laptop'}"   >
          <img class="img-fluid" src="../../../assets/Images/laptop.png" alt="Chania"> <br>Laptops</a>
      </div>
    <div class="col-sm-4">
      <a [routerLink]="['/particularcategory']" [queryParams]="{category:'refrigerator'}">
        <img class="img-fluid" src="../../../assets/Images/fridge.png" alt="Chania"><br>Refrigerator </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['/particularcategory']" [queryParams]="{category:'sofa'}">
          <img class="img-fluid" src="../../../assets/Images/sofa.png" alt="Chania"> <br>Sofas</a>
      </div>
    <div class="col-sm-4">
      <a [routerLink]="['/particularcategory']" [queryParams]="{category:'washingmachine'}">
        <img class="img-fluid" src="../../../assets/Images/washing-machine.png" alt="Chania"><br> Washing Machines </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['/particularcategory']" [queryParams]="{category:'camera'}">
          <img class="img-fluid" src="../../../assets/Images/camera.png" alt="Chania"><br> Camera </a>
      </div>
  </div>