.container{
    margin:3vw;;
}  
.row {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right:6vw;  
     margin-left:6vw; 
     text-align: center; 
}
a{ 
    text-decoration: none;
    font-size:17px; 
    font-weight: 500;
}
.img-fluid{
    max-width: 58%;
    max-height: 70%;
}

col-sm{
    position: relative;
    width: 100%;
    padding-right: 0px;  
    padding-left: 0px;
}