<div class="container row driveDetails">
  <div class="col-sm-6" *ngIf="itemdetails">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src={{itemdetails.images}} alt="Los Angeles" >
        </div> 
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </div>
  <div class="col-sm-6" *ngIf="itemdetails">
    <div  >
      <h5>Item Details :</h5>
      <p><b>Type :</b>{{itemdetails.type}}</p> 
      <p><b>Brand :</b>{{itemdetails.brand}}</p>
      <p><b>Model :</b>{{itemdetails.model}}</p>
      <p><b>RentPerDay :</b>{{itemdetails.rentPerDay}}</p>
    </div>
    <hr>
    <div>
      <h5>Owner Details : </h5>
      <p><b>Name :</b>{{itemdetails.user.name}}</p>
      <p><b>ContactNumber :</b>{{itemdetails.user.contactNumber}}</p>
      <p><b>Email :</b>{{itemdetails.user.email}}</p>
   
    </div>
  </div>



</div>