.carousel-inner img { 
    width: 100%;
    height:100%;
}
.carousel{ 
    margin: 2vw; 
    width:100%;
    height:100%; 
}
.carousel-inner{
    border-radius: 8px;
    border: 1px solid #17a2b8; 
}
.img-fluid {
    max-width: 90%;
    height: auto;
}
a{
    text-decoration: none;
    font-size:17px; 
    font-weight: 500;
}
.row { 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
     text-align: center; 
}

.driveDetails{
    padding: 10px;
    margin-top: 30px;
    width: 95%; 
    text-transform:capitalize;
    font-size: 16px;;
    font-weight: 400;
    border-radius: 9px; 
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.19);
  }

  .row{ 
    display: -ms-flexbox; 
    overflow:hidden;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 3vw;
    margin-left: 3vw;
}
 p{
     text-align: left; 
     padding-left: 3vw; 
     font-weight: 500;
 }
b,h5{
   margin-right:10px;
    color: #17a2b8; 
    text-transform:capitalize; 
  }
  