
.form-group{
    position: relative; 
    margin-bottom: 1.5rem;
  }
  .row {
    margin-top: 5vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }
  form{
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px #278ba3;
  }
  label{
    font-size: 18px;
    font-weight: 450;
    color: #17a2b8; 
    text-transform:capitalize; 
  }
  .form-group {
    margin-bottom: .7rem;
  }
  input{
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  p{
    font-size: 16px;
    color: red;
    font-weight: 430;
  }
  button{
    margin: 10px;;
  }
  .fa {
    display: inline-block; 
    font-size: 18px; 
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }