<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">

        <div class="form-group">
          <label>Brand</label>
          <input type="text" ngModel name="brand" (change)="changeBrand($event)" [(ngModel)]="brand"
            class="form-control" required />
          <div *ngIf="brand_error" class="text-danger">{{brand_error}}</div>
        </div>
        <div class="form-group">
          <label>Model</label>
          <input type="text" ngModel name="model" (change)="changeModel($event)" class="form-control" required />
          <div *ngIf="model_error" class="text-danger">{{model_error}}</div>

        </div>
        <div class="form-group">
          <label>Rent Per Day</label>
          <input type="text" ngModel name="rentPerDay" (change)="changeRent($event)" class="form-control" required />
          <div *ngIf="rent_per_day_error" class="text-danger">{{rent_per_day_error}}</div>

        </div>
        <div class="form-group">
          <label>Place</label>
          <input type="text" ngModel name="place" (change)="changePlace($event)" class="form-control" required />
          <div *ngIf="place_error" class="text-danger">{{place_error}}</div>

        </div>
        <div class="form-group">
          <label>Available up to</label>
          <input type="date" ngModel name="availableUpTo" class="form-control" required />
        </div>
        <div class="form-group">
          <label>Category</label>
          <select id="category" ngModel (change)="saverange()" [(ngModel)]="category" name="category"
            class="form-control">
            <option value="">Select Category</option>
            <option id="automobiles" value="automobiles">Automobiles</option>
            <option id="electronics" value="electronics">Electronics</option>
          </select>

        </div>
        <div class="form-group">
          <label>Type</label>
          <select ngModel name="type" id="type" class="form-control">
            <option *ngFor="let option of optionArray">
              {{option}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Image</label>
          <input type="text" ngModel name="images" class="form-control" required />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Upload </button>
        </div>
      </form>
    </div>
  </div>
</div>