<br>
<div class="card bg-info text-white ">
  <div class="card-body">
    <p class="cardtitle" >Rental Services</p>
    <p class="cardbody">Every 24 hours, Experian RentBureau
      receives updated rental payment history data from property owners/managers, electronic rent payment services and
      collection companies and makes that information available immediately to the multifamily industry through our
      resident screening partners. This quick turnaround and robust data impacts every point of decision making – from
      identifying higher-quality residents and improving bad-debt recovery to streamlining the collections process.
    </p>
  </div>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/Images/businessImg1.jpg" alt="Los Angeles" width="500" height="300">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Images/businessImg3.jpg" alt="Chicago" width="500" height="300">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Images/businessImg4.jpg" alt="New York" width="500" height="300">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<br>
<div class="container row col-md-6 offset-md-3 ">

  <div class="col-sm-4">
    <a routerLink="automobiles">
      <img class="img-fluid" src="../../../assets/Images/car-25-xxl.png" alt="Chania"> AutoMobiles </a>
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <a routerLink="electronics">
      <img class="img-fluid" src="../../../assets/Images/notebook-xxl.png" alt="Chania">Electronics </a>
  </div>
</div>