 
.carousel-inner img { 
    width: 100%;
    height:100%;
}
.carousel{
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90%;
    height: 100%;
}
.carousel-inner{
    border-radius: 8px;
}
.img-fluid {
    max-width: 90%;
    height: auto;
}
a{
    text-decoration: none;
    font-size:17px; 
    font-weight: 500;
}
.row { 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
    text-align: center; 
    }
 
.card{
  margin-left:5vw;
  margin-right:5vw;  
  width: 90%;
  }
  .cardtitle {
    text-align:center; 
    font-family: "Tangerine", serif;
    font-size: 6vw;
  }
  .cardbody{
    text-align: justify;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2vw;
  }