
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h5><strong>About Us</strong> </h5>
        <p>owners/managers, electronic rent payment services and
            collection companies and makes that information available immediately to the multifamily industry</p>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <h5><strong>Contact Info</strong></h5>
        <p><strong>Adress:</strong> 514 S. Magnolia St.
          Orlando, FL 32806 
        </p>
        <p><strong>Email:</strong> email@example.com</p>
        <p><strong>Tel.:</strong> (888) 888 8888</p>
      </div>
    </div>
  </div>
</footer>