/* Style the footer */
footer {
    background-image: url("../../assets/Images/footer4.jpg");
    background-size: cover;
    padding: 10px;
    text-align: center;
    color: black;
    margin-top:5vh;
  }
  ul, li{
      list-style-type: none;
  }
  .list{
      margin-top: 15px;
      color: black
  }
  p{ 
    text-align: left;
    margin-bottom:0px; 
  }